@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
